<p>Title: <%= @book.title %></p>
<p>Body: <%= @book.body %></p>

 "Edit" | "Back"
<!--<a class="back" href="/book">Back</a>-->

<!--%= link_to "削除", destroy_list_path(@book.id), method: :delete, "data-confirm" => "削除する？" %>-->